@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

*{
    margin:0;
    padding:0;

}
* body {
    background: url(cool-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    align-self: center;
    text-align: center;
    

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }
  .work{
    padding:30px;
    font-family:'Roboto';
    font-size:16px;
    font-weight:300;
    line-height:24px;
}
  .work img{
    display:    block;
    margin: 0 auto;
    width:50%;
    height:auto;
    border-radius: 25px;
    transform:scale(1) rotate(0deg);
    transition:all .5s linear;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    float:  center; 
  }
  .work h1{
      margin-top: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 30px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
  }
  .work p{
   margin-bottom:15px;
    margin-top:15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
letter-spacing: 1px;
word-spacing: 1.2px;
color: white;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
}

  